services:
  postgres:
    image: postgres:18
    container_name: springboot-postgres
    restart: always
    environment:
      POSTGRES_DB: bidoo_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data: